<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ClientOfLoginSOAPREST</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PostSOAP</servlet-name>
    <servlet-class>servlets.PostSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSOAP</servlet-name>
    <url-pattern>/postUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSOAP</servlet-name>
    <servlet-class>servlets.GetSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSOAP</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PutSOAP</servlet-name>
    <servlet-class>servlets.PutSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutSOAP</servlet-name>
    <url-pattern>/putUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConfirm</servlet-name>
    <servlet-class>servlets.DeleteConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConfirm</servlet-name>
    <url-pattern>/deleteConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSOAP</servlet-name>
    <servlet-class>servlets.DeleteSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSOAP</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>servlets.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetChat</servlet-name>
    <servlet-class>servlets.GetChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChat</servlet-name>
    <url-pattern>/getChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>servlets.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/deleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostMessage</servlet-name>
    <servlet-class>servlets.PostMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessage</servlet-name>
    <url-pattern>/postMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyMessage</display-name>
    <servlet-name>ReplyMessage</servlet-name>
    <servlet-class>servlets.ReplyMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyMessage</servlet-name>
    <url-pattern>/replyToMessage</url-pattern>
  </servlet-mapping>
</web-app>